html {
  font-size: 62.5%;
  
  /* 62.5% representa un 10px, 1em = 10px */

  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navbar-toggler {margin-right: 2%;}

  /*navegador general*/

.navbar.bg-body-tertiary .nav-link.active, .navbar.bg-body-tertiary .navbar-brand, .navbar.bg-body-tertiary .navbar-brand.navbar-nav, .navbar.bg-body-tertiary .nav-link {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;

  }

.logo-container { width: 15%; margin-left: 15%;}

/*menu aun sin uso*/
.dropdown-menu,
.dropdown-item
{width: 300px;}

/*Generales*/
.encabezado { 
font-size: 2rem; 
text-align: center;
color:white;
margin-top: 1%;
}

.titulo { color:rgb(104, 4, 4);
  font-size: 2rem;
  }

.slogan {
  text-align: center;
  font-size: 1.3rem;
  color:white;

}
/*Home*/
.collage-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1px; 
  padding: 1rem 0;
  margin-bottom: 1rem;
  overflow: hidden;
}

.collage-item {
  position: relative;
  overflow: hidden;
}

.prope {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  object-fit: cover; /*la imagen se ajuste sin desbordar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin-top: 5%;
}

.prope:hover {
  transform: scale(1.1);
}

.shadow-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem; 
  background-color: rgba(0, 0, 0, 0.7);
  color: #fee9e9;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center; 
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.collage-item:hover .shadow-text {
  opacity: 1;
}

/* Estilos para el botonn de consulta */

.consultar-btn, 
.calcular,
.buscador {
  background-color: #f5f5f5;
  color: #3e0202;
  padding: 2px 9px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5rem;

}
.buscador:hover {background-color: #930d0d;color:white;}
.calcular:hover{background-color: #930d0d;color:white;}
.consultar-btn:hover {background-color: #930d0d;color:white;}

/* Estilos para el contenedor flexible */

.flex-container {
display:flex;
}

/**/

body 
{background-color: rgb(15, 10, 10);}


/*pagina nuestras propiedades*/

.texto  {
  font-size: 2.8rem;
  line-height:2 ;
  text-align:center;
  font-family: 'Abel', sans-serif;
  color:white;
}

.container-propiedad { 
  overflow: hidden;
  padding: 1%;
  margin: 1%;
  margin-top: 2%;

}
/*Quienes somos*/

.somos {
  position: relative; /* Agrego posición relativa para que el pseudo-elemento sea posicionado con respecto a este contenedor */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.somos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../Assets/soy.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.2; 
  z-index: -1; 
}

/*formulario*/

.cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  height: auto;
  font-size: 1rem;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label {
  font-weight: bold;
  font-size: 1.8rem;
}

.start {
  padding-top: 2%;
  color: white;
  text-align: start;
}

input,
textarea {
  border-radius: 0.6rem;
  padding: 0.8rem;
  border: 1px solid;
  color: black;
  width: 220%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(174, 33, 1);
}

.button-enviar {
  margin-top: 50px;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(172, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.button-enviar:hover {
  background-color: rgb(95, 4, 19);
}

/*Nuestras propiedades*/

.tt{ border-radius: 5% 5%;}

/* Estilos para dispositivos móviles (ancho máximo de 767px) */

@media (max-width: 767px) {

/*Generales*/

  .encabezado {
    font-size: 2rem;
  }

  .titulo {
    font-size: 2rem;
  }

  .slogan {
    font-size: 1.2rem;
  }

/*Home*/

.logo-container{
width: 90px;margin-right: 9%;}

.navbar.bg-body-tertiary .nav-link.active, .navbar.bg-body-tertiary .navbar-brand, .navbar.bg-body-tertiary .navbar-brand.navbar-nav, .navbar.bg-body-tertiary .nav-link {
font-size: 1.6rem;}

.buscador, .consultar-btn, .calcular
{ width:auto; margin-top: 3px;font-size: 1rem;}

.start {margin-right: 0%;}

.texto {
font-size:1rem;
overflow: hidden;
  }
}

/* Estilos para dispositivos móviles (ancho máximo de 767px) */

@media (min-width: 767px) {

  .encabezado {
    font-size: 2rem;
  }

  .titulo {
    font-size: 2rem;
  }

  .slogan {
    font-size: 1.2rem;
  }

  .contenido {
    flex-direction: column;
    overflow: hidden;
  }

  .logo-container{width: 100px;}

  .texto {
    font-size:1rem;
    overflow: hidden;
  }

}

@media (min-width: 1023px) {
    .encabezado {
      font-size: 3rem;
    }
  
    .titulo {
      font-size: 3rem;
    }
  
    .slogan {
      font-size: 2rem;
    }
  .texto {font-size: 1.5rem;}
  
  .logo-container{width: 120px; margin-left: 3%;}

  .buscador, .consultar-btn, .calcular{ width:130px; margin-top: 3px;}

  }

  @media (min-width: 1420px) {  

  .encabezado {
    font-size: 4rem;
  }

  .titulo {
    font-size: 4rem;
  }

  .slogan {
    font-size: 3rem;
  }

  /* Nuestras propiedades*/

.texto {font-size: 2.3rem;}

.tt { width: 100%; height: 900px; margin-top: 4%;}

.container-propiedad { 
  overflow: hidden;
  padding: 2%;
  margin: 2%;
  margin-top: 3%;
}
/*Home*/
.collage-wrapper {
  display: flex;
  justify-content: center;
}
.collage-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1000px; 
}
.prope {
  width: 100%; 
  max-height: 300px; 
  display: block;
  object-fit: cover;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%; 
}
}
